
#navigation-menu {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}

.access-control, table, tr, td{
    vertical-align: top;
}

tr.hide{
    display: none;
}

.flagMessage{
    font-weight: bold;
}

.userRoleDataTable{
    padding-top: 20px;
    padding-bottom: 20px;
}

.ui-datatable .ui-datatable-footer{
    text-align: left !important;
}


.ui-dashboard-column{
    padding-right: 0.5%;
    padding-left: 0.5%;
    padding-bottom: 2% !important;
}

#aircraftDetailsDlg{
    width:70% !important
}

.ui-steps .ui-steps-item {
    width: 24%;
}

.ui-state-highlight {
    text-shadow: none !important;
}

.ui-steps.custom {
    margin-bottom: 30px;
}

.ui-steps.custom .ui-steps-item .ui-menuitem-link {
    height: 10px;
    padding: 0 1em;
}

.ui-steps.custom .ui-steps-item .ui-steps-number {
    background-color: #0081c2;
    color: #FFFFFF;
    display: inline-block;
    width: 30px;
    border-radius: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.cabinClassHelperDlg{
    /*    top: 10% !important;*/
}

.addNewAircraftDlg{
    /*    top: 20% !important;*/
}

.aircraftModelImage{
    background-color: white !important;
}

.ui-paginator-bottom{
    display: none !important;
}
.filterBtn{
    background-color: #dfeffc !important;
    color: #2e6e9e !important;
}
.filterBtn:hover{
    background-color: #d0e5f5 !important;
}
.filterBtn:active{
    background-color: #f5f8f9 !important;
    color:#e17009 !important;
}
.ui-ribbon-group-content{
    height: 150px !important;
    margin-bottom: 10px;
}